body {
    font-family: "Comfortaa", sans-serif;
    line-height: 1.5;
    margin: 0;
}
li {
    margin-bottom: 10px;
}
.container {
    color: #1a435c;
}
a,
a:link,
a:visited,
a:active,
h1,
h2,
h3 {
    color: #3893cc;
}
h1,
h2,
h3 {
    margin-top: 40px;
}
.button {
    border-radius: 10px;
    border: #235d81 1px solid;
    background-color: #0388db;
    color: white !important;
    text-decoration: none;
    padding: 10px;
}
.button:hover, .button:focus {
    background-color: #3ca3e4;
}
.mdi {
    color: #2d9be1;
}
.container > * {
    max-width: 800px;
    margin: auto;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.header {
    box-sizing: border-box;
    padding-left: 88px !important;
    background-repeat: no-repeat;
    background-image: url("https://raw.githubusercontent.com/floccusaddon/floccus/develop/icons/logo_128.png");
    background-position: 0px 55px;
    background-size: 70px 70px;
    color: #3893cc;
    width: 258px;
}
.header h1 {
    margin: 0;
    font-size: 45px;
    color: #08d;
}
.header ul {
    padding: 0;
    position: relative;
    left: -165px;
    min-width: 410px;
    margin-top: 50px;
    width: 60vw;
}
.header ul li {
    display: inline-block;
    list-style: none;
    margin-right: 3.8%;
}
.header ul li:last-child {
    margin: 0;
}
.header ul a:link {
    text-decoration: none;
    text-transform: uppercase;
}
.header ul a:hover,
.header ul a:focus{
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
    .header ul {
        left: 0;
        width: auto;
        min-width: auto;
    }
    .header ul li {
        display: block;
    }
}
.toc ul {
    padding-left: 0px;
}
.toc ul li {
    list-style: none;
}
.text {
    padding: 10px 0;
    position: relative;
    padding-top: 42px !important;
    padding-bottom: 42px !important;
}
.text img {
    width: 100%;
}
.description {
    box-sizing: border-box;
    padding-left: 450px;
    min-height: 400px;
    font-size: 1.6em;
    background-repeat: no-repeat;
    background-image: url("./img/undraw_in_sync.svg");
    background-size: 420px;
    background-position: 0 41px;
}
@media screen and (max-width: 800px) {
    .description {
        padding-left: 10px;
        padding-top: 70% !important;
        background-size: 75%;
        background-position: center 60px;
    }
}
.news {
    padding-top: 0 !important;
    padding-bottom: 45px !important;
}
.news p {
    color: orangered;
    background: #ffe1a9;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
}
.news p * {
    color: orangered;
}
.screenshot {
    min-height: 400px;
    background-repeat: no-repeat;
    background-image: url("https://raw.githubusercontent.com/floccusaddon/floccus/develop/img/screen_chrome_wide.png");
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    background-color: #235d81;
    box-shadow: #000000aa 0 0 15px inset;
}
.donate {
    box-sizing: border-box;
    min-height: 350px;
    background-repeat: no-repeat;
    background-image: url("./img/undraw_love.svg");
    background-size: 440px;
    background-position: 300px 100px;
    padding-right: 310px;
}
.backends {
    background-repeat: no-repeat;
    background-image: url("./img/undraw_devices.svg");
    background-size: 440px;
    background-position: 100px 780px;
    padding-bottom: 375px !important;
    box-sizing: border-box;
}
.contribute {
    box-sizing: border-box;
    min-height: 350px;
    background-repeat: no-repeat;
    background-image: url("./img/undraw_team.svg");
    background-size: 400px;
    background-position: -10px 170px;
    padding-left: 450px;
}
.features {
    box-sizing: border-box;
    min-height: 700px;
    background-repeat: no-repeat;
    background-image: url("./img/floccus_schema.png");
    background-size: 800px;
    background-position: 0 100px;
}
@media screen and (max-width: 800px) {
    .backends {
        padding-bottom: 0px !important;
    }
    .contribute {
        padding-bottom: 300px !important;
        background-position: 100px 422px;
    }
    .features {
        background-size: 400px;
        min-height: 450px;
        background-position: 50% 100px;
    }
}
.benchmarks .legend span {
    display: block;
}
.footer {
}
.bg-blue {
    background-color: #f0f9ff;
}
.bg-dark-blue {
    background-color: #ddf2fe;
}
.featureGrid {
    display: flex;
    flex-wrap: wrap;
}
.featureGrid .box {
    width: 230px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
    hyphens: auto;
}
.backends .featureGrid .box {
    margin-right: 40px;
    width: 350px;
}
.backends .featureGrid .box:last-child {
    margin-right: 0px;
}
.features .featureGrid .box {
    text-align: left;
}
.featureGrid .box .mdi::before {
    display: block;
    font-size: 150px;
    text-align: center;
    line-height: 165px;
}
@media screen and (max-width: 800px) {
    .featureGrid {
        justify-content: center;
    }
    .backends .featureGrid .box {
        width: auto;
        margin-right: 0;
    }
    .text,
    .description {
        padding: 10px 50px;
    }
    .text.bg {
        padding: 10px 30px;
        padding-top: 70% !important;
        background-size: 75%;
        background-position: center 60px;
    }
}
